* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  gap: 5px;
  right: 2rem;
  top: 2.9%;
  position: absolute;
  list-style: none;
}

nav {
  padding: 1rem;
  margin: 1rem;
}

li a {
  color: #000;
  text-decoration: none;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.box {
  position: relative;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.imgs {
  opacity: 100%;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.middle {
  position: absolute;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
}

.box:hover .imgs {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  background-color: #252525;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
