* {
  background-color: rgb(37, 37, 37);
}
.box {
  width: 10rem;
  height: 10rem;
  background-color: rgb(0, 123, 237);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  align-content: center;
  text-align: center;
  font-size: 5rem;
  color: white;
}
body {
  width: 70rem;
}

.box-between {
  display: flex;
  justify-content: space-between;
}

.box-evenly {
  display: flex;
  justify-content: space-evenly;
}
.box-around {
  display: flex;
  justify-content: space-around;
}
.box-center {
  display: flex;
  justify-content: center;
}

.a2 {
  margin: auto 10rem;
}

.a3 {
  margin: auto 20rem;
}
